<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.moduleforactiontesting">

    <application>
        <activity android:name=".ActionTestingActivity">
            <intent-filter>
                <action android:name="com.testing.action.non_dependant_module" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>